*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /*Variavel representando a font-family*/
    --ff-body:'Roboto', sans-serif;

    /*Variaveis representando o font-size*/
    --fs-mobile-h1:clamp(7.5rem, 15vw + 15vw, 9.6rem);
    --fs-tablet-h1:12.7rem;

    /*Variaveis representando altura e largura dos buttons*/
    --width-buttons-timer-functions-mobile:clamp(3.0rem, 5vw + 8vw, 4.5rem);;
    --width-buttons-timer-functions-media:clamp(3.0rem, 5vw + 3vw, 6.5rem);
    --width-icons-buttons-template-modes:4.2rem;
    
    --height-buttons-timer-functions-mobile:clamp(3.0rem, 5vw + 8vw, 4.5rem);
    --height-buttons-timer-functions-media:clamp(3.0rem, 5vw + 3vw, 6.5rem);
    --height-icons-buttons-template-modes:4.9rem;

    /*Variaveis representando cor dos objetos*/
    --color-h1:rgba(50, 50, 56, 100%);
    --color-buttons-timer-functions:rgba(50, 50, 56, 100%);
    --color-icons-buttons-template-modes:rgba(50, 50, 56, 100%);
    --color-bg-buttons-template-modes:rgba(225, 225, 230, 100%);

    font-size: 62.5%;
}
body{
    background:#FFFFFF;
    background-repeat: no-repeat;
    font-family: var(--ff-body);
    font-size: 1.6rem;
    position: relative;
    display:grid;
    place-items:center;
    margin-top: 200px;
}
.page{
   
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    gap: 5rem;
}

.toggle{
   position:relative;
    
   width:120px;
   height:60px;
    
   display:flex;
   justify-content:end;
   align-items:center;
   
   background-color:rgba(0, 0, 0, 0.1);
   border-radius:50px;
   border:2px solid rgba(0, 0, 0, 0.1);
}
.sol img, .lua svg{
  width: 40px;
  height:40px;
}
.sol{
  position:absolute;
  top:4px;
  left:5px;
  z-index:2;
  
  width:110px;
  height:50px;
  
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:#fdffd9;
  border:1px solid rgba(0, 0, 0, 0.1);
  border-radius:50px;
}
.lua{
  position:absolute;
  top:4px;
  left:4px;
    
  width:110px;
  height:50px;
  
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:#9380b7;
  border:1px solid rgba(0, 0, 0, 0.1);
  
  border-radius:50px;
}
.button-sol{
  
  cursor:pointer;
  position:absolute;
  right:0px;
  
  width:50px;
  height:50px;
  border-radius:50px;
  border:none;
  background-color:white;
  box-shadow:1px 1px 5px;
  
}
.button-lua{
  
  cursor:pointer;
  position:absolute;
  left:-1px;
  
  width:50px;
  height:50px;
  border-radius:50px;
  border:none;
  background-color:white;
  box-shadow:1px 1px 5px;
  z-index:5;
}
.sol img{
  position:absolute;
  left:5px;
  
}
.lua svg{
  position:absolute;
  right:5px;
}
.ativar-dark-mode{
  animation: ativarDarkMode 800ms ease-in 200ms forwards 1;
}
.desativar-dark-mode{
  animation: desativarDarkMode 800ms ease-in 200ms forwards 1;
}
.hide{
    display:none;
}
/*Estilização do timer*/
.timer-functions{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.timer-functions .timer span{
    font-size: var(--fs-mobile-h1);
    font-weight: 500;
    line-height: 11.2rem;
    color: var(--color-h1);
    text-align: center;
}
.buttons-wrapper{
   max-width:27.2rem;
   
   display: flex;
   justify-content: center;
   gap: 2.0rem;
}
.timer-functions .buttons-wrapper button{
    border: none;
    background:none;
    
    cursor: pointer;
    margin-bottom: 5rem;
}
.timer-functions .buttons-wrapper svg{
    width: var(--width-buttons-timer-functions-mobile);
    height: var(--height-buttons-timer-functions-mobile);
}
.timer-functions .buttons-wrapper button:hover, .template-modes button:hover{
    filter: brightness(80%);
    transform: scaleX(1.2) scaleY(1.2);
}
/*Estilização dos templates modes*/
.template-modes{
    max-width: 27.5rem;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 8rem 8rem;
    grid-template-areas: 
    "florest rain"
    "coffe fireplace"
    ;
    gap: 2.5rem;
}
.template-modes button{
    width: clamp(8rem, 5vw + 20vw, 11.8rem);
    height: clamp(9rem, 5vw + 25vw, 12.2rem);
    border: none;

    background:var(--color-bg-buttons-template-modes);
    border-radius: 2.4rem;
    cursor: pointer;
}
.template-modes button div svg{
    width: var(--width-icons-buttons-template-modes);
    height: var(--height-icons-buttons-template-modes);
}
.template-modes-checked button{
    margin: 0;
}
.template-modes .template-modes-checked button{
    background: #02799D;
}
.template-modes .template-cards :nth-child(2), .template-modes :nth-child(4){
    margin-left: 1rem;
}
.template-modes .template-cards :nth-child(3), .template-modes :nth-child(4){
    margin-top: clamp(5px, 1vw + 25vw, 12.5rem);
}
.template-modes .button-florest{
    grid-area:florest;
    
}
.template-modes .button-rain{
    grid-area:rain;
    
}
.template-modes .button-coffe{
    grid-area:coffe;
}
.template-modes .button-fireplace{
    grid-area:fireplace;
}


@keyframes ativarDarkMode {
    from{
        transform: translateX(0px);
        width:70px;
    }
    to{
        width:50px;
        transform: translateX(-65px);
    }
}
@keyframes desativarDarkMode{
    from{
        transform: translateX(0px);
        width:70px;
    }
    to{
        transform:translateX(65px);
        width:50px;
    }
}
@media (min-width:650px){
    .timer-functions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timer-functions .timer span{
        font-size:clamp(9.6rem, 1vw + 15vw, 12.7rem);        
    }
    .timer-functions .buttons-wrapper img{
        width: var(--width-buttons-timer-functions-media);
        height: var(--height-buttons-timer-functions-media);
    }
    .template-modes{
        max-width: 32rem;
    }
    .template-modes :nth-child(2), .template-modes :nth-child(4){
        margin-left: clamp(2rem, 2vw + 1vw, 3rem);
    }
    .template-modes :nth-child(3), .template-modes :nth-child(4){
        margin-top: 15rem;
    }
    .template-modes button{
        width: clamp(11rem, 5vw + 20vw, 12.8rem);
        height: clamp(12.2rem, 5vw + 25vw, 13.8rem);
    }
}
@media (min-width:950px){
    body{
        height: 100vh;
        display: grid;
        place-items: center;
        margin-top: 10rem;
    }
    .page{
        margin: 15rem auto 0;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        gap: 19.2rem;
    }
    .timer-functions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timer-functions .buttons-wrapper{
        max-height: 5rem;
        margin-top: 4.5rem;
    }
}

